
### VisualStudioCode ###
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
.vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

# Ignore IDEA
/.idea

# Config
/mongo-init.js
/app.ini

# local
/logs/*
/db-data/*

# resources
/static/ui/*
!/static/ui/LICENSE

# Go statik
/fs/statik.go
